.main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  /*height: 1250px;*/
}

.chart-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.car1-info-container {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px;
  margin-top: 220px;
}

.car2-info-container {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px;
  margin-top: 220px;
}

.car1-info-tag, .car2-info-tag {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #98989C;
  margin-bottom: 8px;
}

#car1-info-name, #car2-info-name{
  font-weight: 700;
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}

.bar-chart-container {
  margin-bottom: 50px;
}

.radar-chart-container {
  margin-top: 30px;
}

.select-container {
  margin: 20px
}

.cars-dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*margin-left: 200px;*/
  margin-bottom: 20px;
}

.cars-button {
  background-color: #4286f4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 13px;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}
